# Example envfile used by AlloyEnvFileTest / AlloyEnvVarAnnotatorTest
DB_HOST=localhost
DB_PORT=5432
export API_KEY=sk-abc123
API_SECRET="very secret value"            # trailing comment
MIMIR_URL=https://mimir.example/push#not-a-comment
# comment line
INVALID LINE WITHOUT EQUALS
=empty_key_should_be_skipped
PATH_WITH_HASH=/usr/local/bin # inline comment stripped
QUOTED_WITH_HASH="value#with#hash"
